# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\pCloudSync\UIT\Semester2\prog1\Chapter17_Object_IO\TestIO_MultipleObjects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
